.DevFinderApp{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 

    width: 375px; 
    background-color: #141D2F; 
    padding: 30px 24px 80px 24px; 

}

.DevFinderApp.light{
    background-color: var(--light-app-bg-color); 
    color: var(--light-font-color); 
}



.DevFinderApp.dark {
    background-color: var(--dark-app-bg-color); 
    color: var(--dark-font-color); 
}



/* tablet style  */
@media screen and (min-width: 768px) and (max-width: 1440px){
    .DevFinderApp{
        justify-content: flex-start; 
        width: 768px; 
        min-height: 1024px; 

        padding: 0 98px; 
    }
}

/* desktop style */
@media screen and (min-width: 1440px){
    .DevFinderApp{
        width: 1440px; 
        padding: 0 350px; 
        min-height: 900px; 
        align-items: center; 
        justify-content: center; 
    }
}