.ErrorText {
    min-width: 60px; 
    font-size: 12px; 
    color: #f74646; 
    text-align: center; 
}

.ErrorTextRemove {
    display: none; 
}



/* tablet style  */
@media screen and (min-width: 768px) and (max-width: 1440px){
    .ErrorText {
        min-width: 90px; 
        font-size: 14px; 
    }
}

/* desktop style */
@media screen and (min-width: 1440px){
    .ErrorText {
        min-width: 100px; 
        font-size: 15px; 
        margin: 0 15px 0 0; 
    }
}