.Presentation {
    font-size: 12px; 
    line-height: 25px; 
    font-weight: 400; 
    opacity: 0.8; 
    margin: 32px 0 0 0; 
}



/* tablet style  */
@media screen and (min-width: 768px){
    .Presentation {
        font-size: 15px; 
        line-height: 25px; 
    }
}