.ProfileBox{
    width: 100%; 
    margin: 16px 0 0 0; 
    padding: 0 24px 50px 24px; 
    border-radius: 15px; 
}

.ProfileBox{
    width: 100%; 
    margin: 16px 0 0 0; 
    padding: 0 24px 50px 24px; 
    border-radius: 15px; 
}

.ProfileBox.dark{
    background-color: var(--dark-app-main-color); 
}
.ProfileBox.light{
    background-color: var(--light-app-main-color);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567); 
}
.ProfileBox.error{
    display: none; 
}

/* tablet style  */
@media screen and (min-width: 768px){
    .ProfileBox{
        margin: 24px 0 0 0; 
        padding: 40px; 
    }
}


/* desktop style */
@media screen and (min-width: 1440px){
    .profileBoxMainCtn{
        width: 480px; 
        margin: 0 0 0 170px; 
    }
}