.ProfilePresentation {
    display: flex; 
    flex-direction: row; 
}

.profilPresentationMainCtn {
    display: flex; 
    flex-direction: column; 
    margin: 32px 0 0 20px; 
}

.pseudoNameDateCtn {
    display: flex; 
    flex-direction: column; 
    margin: 0 0 0 70px; 
}

.pseudoNameCtn {
    display: flex; 
    flex-direction: column; 
}

/* tablet style  */
@media screen and (min-width: 768px){
    .profilPresentationMainCtn {
        margin: 20px 0 0 0; 
    }
    .pseudoNameDateCtn {
        margin: 0 0 0 160px; 
    }
}

/* desktop style */
@media screen and (min-width: 1440px){
    .pseudoNameDateCtn {
        margin: 0; 
    }
}