.ProfilePicture {
    position: absolute; 

    width: 70px; 
    height: 70px; 
    border-radius: 60px; 
    margin: 32px 0 0 0; 
}

/* tablet style  */
@media screen and (min-width: 768px){
    .ProfilePicture {
        width: 116px; 
        height: 116px; 
        margin: 0; 
    }
}