.SearchButton {
    width: 84px; 
    min-width: 84px; 
    height: 46px; 
    background-color: #0079FF; 
    font-family: 'Space Mono', monospace;
    color: #FFF; 
    border: none; 
    border-radius: 10px; 
    margin: 0 7px 0 0; 
}

/* tablet style  */
@media screen and (min-width: 768px){
    .SearchButton {
        width: 105px; 
        min-width: 105px; 
        height: 50px; 
        font-size: 16px; 
        line-height: 24px; 
    }
}

