.SocialInfoContainer {
    display: flex; 
    flex-direction: row; 
    overflow: scroll; 
}

.SocialInfoContainer:not(first-of-type) {
    margin: 16px 0 0 0; 
}

/* tablet style  */
@media screen and (min-width: 768px){
    .SocialInfoContainer {

        height: 25px; 
        width: 50%; 
        overflow: scroll; 
    }
}