.StatsBox {
    width: 100%; 
    height: 85px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    border-radius: 10px; 
    margin: 22px 0 0 0; 
    padding: 0 15px;
}

.StatsBox.light {
    background-color: var(--light-app-bg-color); 
}

.StatsBox.dark {
    background-color: var(--dark-app-bg-color); 
}


/* tablet style  */
@media screen and (min-width: 768px){
    .StatsBox {
        margin: 32px 0 0 0; 
        padding: 0 32px;
    }
}