.Stat {
    display: flex; 
    flex-direction: column; 
    min-width: 30%; 
    max-width: 33%; 
    text-align: center; 
}

/* tablet style  */
@media screen and (min-width: 768px){
    .Stat {
        text-align: left; 
    }
}