.UserName{
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 

    color: #0079FF; 
}

/* tablet style  */
@media screen and (min-width: 768px){
    .UserName{
        font-size: 16px; 
        line-height: 24px; 
    }
}