* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    height: 100vh; 
    font-family: 'Space Mono', monospace;
}

#root {
    height: 100%; 
}

:root {
    --main-bg-color-dark-theme : #1E2A47; 
}